import(CodeDepends)

export(findLoopConcat)
export(findUnusedArgs, findUnusedAssignments)
export(constInputs)
export(removeAfterReturn)

export(removeConstIf)

export(getGlobals)
export(substituteDefaultValues)
export(forLoopToLapply)
export(mkGlobalsLocal)
