import(CodeDepends)
import(methods)

importFrom(rstatic, find_nodes, to_ast, as_language, Symbol, replace_nodes)
#import(rstatic)
importFrom(codetools, walkCode, makeCodeWalker, findGlobals)


importFrom(graphics, plot)
S3method(plot, R6ClassInherits)

export(findLoopConcat)
export(findUnusedArgs, findUnusedParams, findUnusedAssignments)
export(constInputs)
export(removeAfterReturn)

export(removeConstIf)

export(getGlobals, getGlobalFunctions)
export(substituteDefaultValues)
export(mkGlobalsLocal)

export(getDepends)


export(loadCode)


export(getFilesRead, findNSE, S3Assignments, mkClassGraph, findUsedOptions)




export(csvTypeInfo)
exportMethods(csvTypeInfo)


export(findCallsParam)
export(getR6ClassInherits)



#XXXX
#export(checkLoopDepend)


# Adding as Matt and I write the Exploring Code chapter of the case studies book.
export(findFunctionDefs)
export(isCallTo)
export(getArgFromCall)

