import(CodeDepends)

importFrom(rstatic, find_nodes)

export(findLoopConcat)
export(findUnusedArgs, findUnusedParams, findUnusedAssignments)
export(constInputs)
export(removeAfterReturn)

export(removeConstIf)

export(getGlobals)
export(substituteDefaultValues)
export(checkParLoop)
export(mkGlobalsLocal)

export(getDepends)


export(loadCode)


export(getFilesRead, findNSE, S3Assignments, mkClassGraph, findUsedOptions)


